@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.restaurant {
  margin-top: 73px;
  height: 100vh;
  font-family: "Poppins", serif;
}
.restaurant_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .restaurant_desc {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px 0;
    .table_info {
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      gap: 10px;
      button {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #ed2049;
        color: white;
        border-radius: 30px;
        padding: 5px 10px;
        font-weight: 600;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        background-color: #ffe8ed;
        color: #ed2049;
        border-radius: 50%;
        padding: 10px 10px;
      }
    }
    span {
      color: gray;
      font-size: 20px;
    }
    h4 {
      font-size: 2.5rem;
      font-weight: 500;
      color: #160040;
      display: flex;
      gap: 5px;
      align-items: center;
      span {
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
      }
    }
    p {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #1f1f39;
    }
  }
  .restaurant_img {
    width: 100%;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
  }
}
.restaurant_category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.restaurant_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}
.menu_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    font-size: 1.5rem;
    color: #1f1f39;
    font-weight: 600;
  }
  .menu_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    .menu_card {
      position: relative;
      display: flex;
      border: 1px solid #eff0f6;
      border-radius: 8px;
      gap: 10px;
      padding: 0;
      .menu_img {
        width: 110px;
        height: 110px;
        margin: 0;
        img {
          width: 110px;
          height: 110px;
          object-fit: cover;
          object-position: center;
        }
      }
      .menu_desc {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;
        h4 {
          font-size: 1rem;
          color: #1f1f39;
          font-weight: 600;
        }
        p {
          color: gray;
          font-size: 12px;
        }
        .basket {
          cursor: pointer;
          position: absolute;
          right: 10px;
          bottom: 10px;
          background-color: white;
          color: #ed2049;
          padding: 5px 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-size: 13px;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.menu-detail {
  background-color: white;
  border-radius: 20px;
  width: 500px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1200;
  .detail-head {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid #eff0f6;

    button {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: white;
      color: #ed2049;
      border: none;
      font-size: 18px;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      &:hover {
        background-color: #ed2049;
        color: white;
      }
    }
    h3 {
      font-size: 22px;
      font-weight: 700;
      text-transform: capitalize;
      color: #1f1f39;
      padding: 0 15px 0 15px;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      color: #6e7191;
      padding: 0 15px 15px 15px;
    }
    img {
      width: 500px;
      height: 230px;
      object-fit: cover;
      object-position: center;
      border-radius: 20px 20px 0 0;
    }
  }
}

.detail-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  form {
    padding: 0;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #1f1f39;
    display: flex;
    justify-content: space-between;
    span {
      background-color: #e2f8ff;
      font-size: 12px;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 12px;
      color: #00749b;
    }
  }
  ul {
    border-bottom: 1px solid #eff0f6;
    padding: 15px;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    li {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        margin: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #eff0f6;
        border-radius: 50%;
        cursor: pointer;
      }
      span {
        position: absolute;
        right: 0;
      }
    }
  }
}

.detail-footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  button{
    width: 100%;
  }
  .basket-count {
    background-color: #fff2f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    padding: 0 20px;
    span{
      color: #ed2049;
    }
    button{
      cursor: pointer;
      border-radius: 0px;
      background-color: transparent;
      color: black;
      font-size: 20px;
      font-weight: 100;
    }
  }
}
